<html> 

<head> 

<title> frameset 

</title> 

</head> 
<form get='method' action='/source'>
<frameset cols="20%,*">
    <frame src="links.ejs"> 1st FRAME
    <frame src="main.ejs"> 2nd FRAME
</frameset>

 
</frame>
</form>
 

</html> 